{{<layout}}

{{$applicationContent}}
<div class="column-two-thirds">
  <h3 class="heading-large" data-test="page-title">'Record your work search' has moved</h3>

  <p>You can now use your online account to record your work search in the same way.</p>

  <p>To find this tool, you can:</p>
  <ol class="list list-number">
    <li>Sign in</li>
    <li>Go to 'Home'</li>
    <li>Choose 'Job applications'</li>
  </ol>
  <a data-test="uc-sign-in-link" class="button button-secondary button-same-on-mobile"
     href="https://www.universal-credit.service.gov.uk/sign-in">Go to online account</a>
</div>
{{/applicationContent}}

{{/layout}}
