{{<layout}}

{{$applicationContent}}
<div class="column-two-thirds">
  <h3 class="heading-large" data-test="page-title">'Work you could do' is temporarily unavailable</h3>
</div>
{{/applicationContent}}

{{/layout}}
