{{<layout}}

{{$applicationContent}}
<div class="column-two-thirds">
  <h3 class="heading-large" data-test="page-title">Holding page</h3>

  <p>Nothing to see here</p>
</div>
{{/applicationContent}}

{{/layout}}
